 
	<p>
		<%= f.label 'Name' %>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label 'univercity' %>
		<%= f.text_field :univercity%>
	</p>
	<p>
		<%= f.label 'location' %>
		<%= f.text_field :location %>
	</p>
	<p>
		<%= f.label 'city' %>
		<%= f.text_field :city %>
	</p>
	 
 